<!-- 
 
En este HTML se tendrá el formulario requerido para agregar un comentario.

Este requerirá de la siguiente información de marte del miembro:
- Nombre del Comentarista (caja de texto, obligatorio con largo mínimo 3 y máximo 80) 
- Texto del Comentario (Área de texto, 4 filas y 50 columnas, dato obligatorio con al menos 5 caracteres)

Luego tendrá las siguientes funciones y botones:
- Un botón con el texto “Agregar comentario”. Al hacer click sobre este se ejecutan las validaciones dentro de 'commentForm.js'. 
Si las cumple, se debe hacer 'Submit' a un URL que es atendido por 'Flask'.
-En esta URL se debe validar los datos del comentario en el lado del servidor y además debe insertar en la base de datos en la 
tabla comentario.

-->