<!-- 
 
Aquí se hará el template para leer los comentarios ya subidos para una dada actividad. Cada comentario debe mostrar lo siguiente:
- Debe incluir como un listado con la fecha, nombre del comentarista y texto del comentario.
- En la sección superior del listado de comentarios se debe agregar dos bloques del mismo ancho que el bloque de comentarios pero de baja altura:
    -Primer Bloque:
        - A lo largo se va a tener un botón que diga "Comentar". Este abrirá el formulario para comentar descrito en el template 'comment_form-gtml'. 
    - Segundo Bloque:
        - En la esquina superior izquierda se debe mostrar el número total de comentarios para esa actividad.
        - En la esquina superior derecha se debe tener un botón que deje cambiar el orden de los comentarios, entre los más recientes y los más antiguos.

Las funcionalidades para agregar comentario y listado de comentarios las debe implementar
usando llamadas asíncronas desde el lado del cliente. Esto lo puede hacer directamente
usando Javascript con el objeto XHR o usando la función fetch o alguna biblioteca Javascript
que usted decida.


-->